*{
    margin: 0px auto;
    padding: 0px;
}

.button{
	display: inline-block;
	padding: 15px 25px;
	margin-bottom: 140px;
	cursor: pointer;
	outline: none;
	background-color: #f4511e;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #b22e05;
}

.button a{
	font-family: Trebuchet MS;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: white;
}

.button:hover {
	background-color: #ef5f32;
}

.button:active {
	background-color: #db481a;
	box-shadow: 0 5px #701c02;
	transform: translateY(4px);
}

#welcome-page{
	padding: 100px 0px 0px 0px;
}

#header{
	width: 100%;
	height: 80px;
	background-color: #333333;
	position: fixed;
	top: 0px;
}

#nav{
	width: 1100px;	
	height: 80px;
}


#nav ul{
    width: 500px;
    height: 80px;
	float: right;
    list-style: none;	
}

#nav li{
	padding-top: 5px;
	display: inline-block;
}

#logo{
	padding-top: 15px;
	float:left;
}

#shadow{
	width: 1287px;
	height: 5px;
	padding-top: 81px;
	background-color: #504f4f;
}
		
ul li:hover{
	height: 75px;
	background-color: gray;
}

ul li:active{
    background-color: black;
}

#me-hi{
	padding: 37px 37px 37px 37px;
	height: 600px;
}

#me{
	background-color: #c0d89c;
	width: 100%;
	height: 2500px;
}

#me img{
	float: left;
	padding: 120px 60px 50px 60px;
	
}

#personal{
	width: 425px;
	height: 708px;
	float:	left;
	color: #333333;
	background-color: white;
}

#personal h2{
	color: #f3e8a8;
}

#navigations{
	width: 862px;
	height: 708px;
	background-color: #fcfcac;
	float: right; 
}

#other-info{
	width: 100%;
	height: 708px;
	color: #333333;
	float: right; 
	margin-top: 100px;
}

hr{
	border-bottom-color: white;
	width: 370px;
	float: left;
}

#other-info hr{
	border-bottom-color: #333333;
	margin: 10px 0px 10px 0px;
	width: 790px;
	float: left;
}

#other-info p{
	font-size: 17px;
	color: #676768;
}

div.list-style{
	font-family: Calibri;
	font-size: 20px;
	margin-left: 25px;
	list-style: none;
}

div.list-style2{
	font-family: Calibri;
	font-size: 20px;
	margin-left: 25px;
	list-style: bullet;
}


#me-desc{
	float: right;
}

#works{
	background-color: #ffa757;
	width: 100%;
	height: 1000px;
}

#say-hi{
	background-color: #333333;
	width: 100%;
	height: 600px;
}

div.gallery {
    margin: 100px 5px 0px 20px;
    border: 3px solid #ccc;
	border-radius: 15px;
    float: left;
    width: 180px;
	height: 300px;
	background-color: #333333;
	color: white;
}

div.gallery:hover {
    border: 3px solid #f3ac3a;
}

div.gallery img {
    width: 100%;
    height: auto;
	border-radius: 15px;
}

div.desc {
    padding: 15px;
	font-family: Trebuchet MS;
	font-size: 13px;
    text-align: center;
}

#footer{
	width: 100%;
	height: 47px;
	color: white;
	position: absolute;
	background-color: #333333;
}

#footer p{
	text-align: center;
	padding: 20px 0px 0px 5px;
	font-family: Trebuchet MS;
	font-size: 12px;
	color:gray;
}