*{
    margin: 0px auto;
    padding: 0px;
}

.button{
	display: inline-block;
	padding: 15px;
	margin-bottom: 100px;
	cursor: pointer;
	outline: none;
	background-color: #f4511e;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #b22e05;
}

.button a{
	font-family: Trebuchet MS;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 15px;
}

.button:hover {
	background-color: #ef5f32;
}

.button:active {
	background-color: #db481a;
	box-shadow: 0 5px #701c02;
	transform: translateY(4px);
}

#welcome-page{
	padding: 90px 0px 0px 0px;
}

#header{
	width: 100%;
	height: 70px;
	background-color: #333333;
	position: fixed;
	z-index: 1;
	top: 0px;
}

#nav{
	width: 1100px;	
	height: 80px;
}

#nav ul{
    width: 500px;
    height: 80px;
	float: right;
    list-style: none;	
}

#nav li{
	padding-top: 5px;
	display: inline-block;
}

#logo{
	padding-top: 15px;
	float:left;
}

#shadow{
	width: 1287px;
	height: 2px;
	padding-top: 74px;
	background-color: #504f4f;
}
		
ul li:hover{
	height: 65px;
	background-color: gray;
}

ul li:active{
    background-color: black;
}

#me-hi{
	padding: 37px 37px 37px 37px;
	height: 600px;
}

#me{
	background-color: #c0d89c;
	width: 1286px;
	height: 3200px;
}

#personal img{
	float: left;
	padding: 70px 35px 30px;
	
}

#personal{
	width: 425px;
	height: 708px;
	color: #333333;
	float: left;
	background-color: white;
}

#personal h2{
	color: #f3e8a8;
}

#navigations{
	width: 861px;
	height: 708px;
	background-color: #fcfcac;
	margin-top: 0px;
	float: right;
}

#other-info{
	width: 1070px;
	height: 708px;
	color: #333333;
	padding-top: 80px;
	float:left;
}

hr{
	border-bottom-color: white;
	width: 350px;
	float: left;
}

#other-info hr{
	border-bottom-color: #333333;
	margin: 10px 0px 10px 0px;
	width: 800px;
}

#other-info p{
	font-size: 17px;
	color: #676768;
}

div.list-style{
	font-family: Calibri;
	font-size: 16px;
	margin-left: 35px;
	list-style: none;
}

div.list-style2{
	font-family: Calibri;
	font-size: 20px;
	margin-left: 250px;
	list-style: bullet;
}

#curriculum-vitae{
	width: 380px;
	height: 500px;
	border-right: 1px solid #514b3f;
	margin: 100px 35px 0px 30px;
	float: left;
}

#curriculum-vitae p{
	font-family: Seasider;
	font-size: 40px;
	color: #514b3f;
	text-align: center;
	padding-top: 10px;
	
}

.cv{
	list-style: none;
	padding-top: 30px;
}

.cv a{
	text-decoration: none;
	font-family: Arial;
	font-size: 18px;
	color: white;
	padding: 20px 25px;
}

.cv li{
	width: 200px;
	height: 40px;	
	padding-top: 20px;
	margin: 20px 90px;
	border-radius: 0px;
	background-color: ffa757;
}

.cv li:hover{
	width: 200px;
	height: 50px;	
}

#educ{
	width: 100%;
	padding-top: 150px;
}

.nav{
	float: right;
	padding-right: 0px;
	margin-right: 0px;
}

#skills{
	padding-top: 150px;
}

#affil{
	padding-top: 150px;
}

#acts{
	padding-top: 150px;
}

#personal-interest{
	width: 300px;
	height: 500px;
	margin: 100px 35px 0px 30px;
	float: left;
}

#personal-interest p{
	font-family: Seasider;
	font-size: 40px;
	color: #514b3f;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 150px;
	
}

#me-desc{
	float: right;
}

#take-a-peak{
	width: 1287px;
	height: 800px;
	background-color: white;
}

#squad{
	width: 510px;
	height: 800px;
	background-color: black;
	float: left;
}

.slider-container{
	height: 390px;
	width: 465px;
	position: relative;
	margin-left: 0px;
	overflow: hidden; 
	text-align: center;
}

.menu {
  position: absolute;
  right: 0;
  z-index: 900;
  width: 397px;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}

.slide {
  width: 397px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 800px;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: right 0s .75s;
}

[id^="slide"]:checked + .slide {
  right: 0;
  z-index: 100;
  transition: right .65s ease-out;
}

#works{
	background-color: #ffa757;
	width: 1286px;
	height: 1000px;
}

#say-hi{
	width: 1286px;
	background-color: #333333;
	height: 600px;
}

div.gallery {
    margin: 100px 5px 0px 20px;
    border: 3px solid #ccc;
    float: left;
    width: 180px;
	height: 250px;
	background-color: #333333;
	color: white;
	position: relative;
	z-index: 0;
}

div.image {
  display: block;
  width: 100%;
  height: auto;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.gallery:hover .desc {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#say-hi img{
	padding: 250px 100px;
}

#icons a{
	width: 1286px;
	
}

#footer{
	width: 100%;
	height: 47px;
	color: white;
	position: absolute;
	background-color: #333333;
}

#footer p{
	text-align: center;
	padding: 20px 0px 0px 5px;
	font-family: Trebuchet MS;
	font-size: 12px;
	color:gray;
}